body.body2{
    background-color: black;
}
.home-head{
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
}
.nav{
    align-items: top;
    margin: 0px 0px 0px 500px;

}
.nav-link{
    text-decoration: none!important;
    display: inline-flex;
}

.show-text{
    font-size: 72px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    align-items: center;
    display: inline-flex;
    color: white;
    background-color: none!important;
}
.show-background {
    display: flex;
    width: 100%;
    height: auto;
}
.body2{
    background-color: white;
}
.raisin-theater{
    max-height: 50%;
}
footer{
    background-color: black;
    color: white;
}
.subheads{
    list-style-type: none
}
.subhead li{
    font-size: 36px;
    display: inline;
}
h2{
    background: grey;
    border-style: solid;
    border-color: black;
}
.first-list{
    display: inline-flex;
}
.second-list{
    display: inline-flex;
}
.third-list{
    display: inline-flex;
}
.fourth-list{
    display: inline-flex;
    text-align: center;
}
.fourth-list > h3::after{
    content: "\a";
    white-space: pre;
}
.subhead{
    display: inline-block;
}
.subheads{
    display: inline-flex;
}
p.readmore{
    display: inline-block;
    align-self: center;
    max-width: 400px;
    max-height: 60px;
    font-size: 26px;
    padding: 5px 5px 5px 5px;
    background-color: yellow;
    border: solid;
}
.listings{
    background-color: white;
    padding: 40px;
}
